
p {
 color: white;
 font-size: 30px ;
 background-color: black;
}
 {  color: #000000;
  background-color:rgb(32 43 85 );
  background-color: #040444;
  background-image: url('peka.png');
  background-repeat: repeat;
}
p {
  text-align: center; /* left | right | center | justify */
}